body
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background: #A4CCDE;
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
    color: #fff;
}
header li, a, button {
    font-family: sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}
header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
    background: #24252a;
}
header img {
    margin-right: auto;
    cursor: pointer;
    width: 200px;
}
.navlinks {
    list-style: none;
}
.navlinks li {
    display: inline-block;
    padding: 0px 20px;
}
.navlinks li a{
    transition: all 0.3s ease 0s;
}
.navlinks li a:hover{
    color:#4588A6;
}
button {
    padding: 9px 25px;
    background-color: #4588A6;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s;
}
button:hover {
    background-color: rgba(0, 136, 169, 0.8);
}
.container h2{
    text-align: center;
}

.content_table{
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    font-size: 0.9em;
    min-width: 400px;

}
.content_table thead tr{
    background: #4588A6;
    text-align: left;
    font-weight: bold;
}
.content_table th,
.content_table tr{
    
    padding: 20px 30px;
}
.content_table .paybutton {
    background-color: rgb(0,200,160);
    cursor: pointer;
    transition: all 0.3s;
}
.content_table .paybutton:hover{
    background-color: rgba(0, 136, 169, 0.8);
} 